

<ul class="nav nav-pills nav-fill navC">
  <li class="nav-item ">
    <a class="nav-link  textw fs-5 " [routerLinkActive]="['green']" [routerLink]="['/game/top']">Top Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link textw fs-5"  [routerLinkActive]="['green']" [routerLink]="['game/new']">New Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link textw fs-5" [routerLinkActive]="['green']"  [routerLink]="['game/slots']">Slots</a>
  </li>
  <li class="nav-item">
    <a class="nav-link textw fs-5"  [routerLinkActive]="['green']"  [routerLink]="['game/jackpots']">Jackpots</a>
  </li>
  <li class="nav-item">
    <a class="nav-link textw fs-5" [routerLinkActive]="['green']"  [routerLink]="['game/live']">Live</a>
  </li>
  <li class="nav-item">
    <a class="nav-link textw fs-5" [routerLinkActive]="['green']"  [routerLink]="['game/blackjack']">Blackjack</a>
  </li>
  <li class="nav-item">
    <a class="nav-link textw fs-5" [routerLinkActive]="['green']" [routerLink]="['game/roulette']">Roulette</a>
  </li>
  <li class="nav-item">
    <a class="nav-link textw fs-5" [routerLinkActive]="['green']"  [routerLink]="['game/table']">Table</a>
  </li>
  <li class="nav-item">
    <a class="nav-link textw fs-5" [routerLinkActive]="['green']"  [routerLink]="['game/poker']">Poker</a>
  </li>
  <li class="nav-item">
    <a class="nav-link textw fs-5" [routerLinkActive]="['green']"  [routerLink]="['game/other']">Other</a>
  </li>
</ul>
